*, *:before, *:after {
  box-sizing: border-box; 
}

/* ====== GRID Area ====== */
.header{
  grid-area: header;
}
.topmenu{
  grid-area: topmenu;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
}

.midja{
  grid-area: midja;
}
.vinstri{
  grid-area: vinstri;
}
.haegri{
  grid-area: haegri;
}
/* ====== GRID Template Areas ===== */



/* ====== Base CSS ====== */

body {
line-height: 1.5em;
margin: 0;
}
.topnav {
background: #1c2d1c; 
}
.header {
background: tomato; 
}
.footer {
background: lightgreen; 
}
.midja {
background: skyblue; 
}
.vinstri {
background: gold; 
}
.haegri {
background: pink; 
}

.header,
.footer,
.midja,
.vinstri, 
.haegri {
padding: 1em; 
}

.header h1 {
color: #fff;
line-height: 1.2;
font-weight: normal;
}
.midja h2 {
margin: .7em 0 .8em 0;
}
.midja h4 {
text-align: justify;
margin: .4em 0;
}
.midja p {
text-align: justify;
}

/* ========================================
Efnisyfirlit (mobile)
======================================== */
.topnav ul{
background: #1c2d1c; 
}
.topmenu {
padding: 0;
margin: 0;
list-style: none; 
}
.topmenu li {
border: 0;
border-bottom: 1px solid lime; 
padding: 0;
margin:0;
}

.topmenu a {
display: block;  
color: white;
text-decoration: none;
text-align: center;
padding: .4em 1em; 
}
.topmenu a:hover,
.topmenu a:active,
.virkur {
color: black !important;
background-color: lime;
}

/* =======================================
   myndvinnsla  
  ======================================== */

/*  hafið myndir <img> alltaf í max-width: 100%; stærð 
    munið að vinna og þjappa myndir í photoshop ! */

    img{
      max-width: 100%;
      height: auto;
    }

    .myndabox{
      margin: 0;
    }
    .myndabox img{
      border: 1px solid orange;
      display: block;
    }
    .myndabox figure{
      margin: 0;
    }

/*  ========================================
Viðmið - breakpoints 30em = 480px + 
========================================*/


/*  ========================================
Viðmið - breakpoints 37.5em = 600px + 
========================================*/

@media only screen and (min-width: 37.5em) and (max-width: 48em){
  body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    "topmenu";
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "haegri midja"
    "vinstri midja";
  }
  .topmenu{
    display: block;
  }
  .myndabox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 324px;
    height: auto;
  }

}

/* ========================================
Viðmið - breakpoints 48em = 760px +
======================================== */

@media only screen and (min-width: 48em) and (max-width: 60em) {
  body{
    display: grid;
    grid-template-areas: 
    "topmenu"
    "header"
    "main"
    "footer";
  }
  /* .main og myndabox færist í 37.5em */

  .topmenu{
    display: flex;
    flex-flow: row;
    justify-content:space-between;
  }
}

/* ========================================
Viðmið - breakpoints 60em = 960px +
======================================== */

@media only screen and (min-width: 60em) {
  body{
    display: grid;
    grid-template-areas: 
    "topmenu"
    "header"
    "main"
    "footer";
  }
  .main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "haegri midja vinstri";
  }
  .topmenu{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
  }
  .myndabox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

}
 

/* ========================================
Viðmið - breakpoints 80em = 1280px +
======================================== */
@media only screen and (min-width: 64em) {
  body{
    max-width: 64em;
    margin: 0 auto;
  }
}
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 80em skjástærð */  
