body {
    max-width: 50em;
    margin: 1em auto;
    border: 2px rgba(0, 0, 0, 0.5) dotted;
    background-color: rgb(255, 231, 199);
    padding: 2em;
    color:rgb(129, 49, 49);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}


.italic {
    font-style: italic;
}

.tenglar a:link{
    background-color: rgb(255, 192, 109);
    padding: 0.5em;
    color:rgb(255, 255, 255);
}
.tenglar a:visited{
    color: rgb(255, 109, 109);
}
.tenglar a:active{
    color: red;
}
.tenglar a:hover{
    color: rgb(195, 65, 255);
}

/*:link - :visetd - :active - :hover*/


hr{
    border: rgba(0, 0, 0, 0.5) dotted ;
    
}