 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	 margin: 0 auto;
	 font-family: sans-serif;
}

.row {
	display: flex;
	flex-flow: row-reverse;
}

.row div{
	flex: 1 1 auto;
}

.col{
	display: flex;
	flex-flow: column-reverse;
}

footer p {
  text-align: center;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.box {
	font-size: 1.2em;
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

