h1{
    border: 2px solid green;
}

.h1_2{
    border: 5px solid red;
    padding: 1em;
    margin: 2em 0;
}

.h1_2 h1{
    color: red;
}

h1.h1_3{
    color: blue;
    padding: 0.5em;
    border: 5px dashed blue;
}

ol{
    list-style: lower-roman;
}
ul{
    list-style: square;
}
ul li{
    border: dashed 2px green;
    padding: 0.5em;
    margin: 0.5em;
}
.inline li{
    display: inline;
    border-color: red;
}

.inlineblock li{
    display: inline-block;
    border-color: blue;
}